# Python Principles

**In this exercise, we will focus on the core python principles for you to do data science.**

We will learn the words of Python called 'syntax', what data we can use and how to store it. Furthermore, we will learn how to manipulate and control that data. Lastly, we will help you structure your code to write a working python program. 

In this exercise, we will apply this knowledge through short and more challenging problems.

In this exercise, we'll learn how to:

- How to write python statements (Syntax)

- How to store and manipulate data in Python

- How to control where data flows through a program in Python

- Be able to structure the code in Python

- Be able to create a working program in Python

By the end of this exercise, you will be confident in writing Python code and can approach any problem you encounter with a structure.

## Part 1 Vocabulary and Syntax: 

This section will give you the vocabulary to describe code precisely as well as introducing you to way to write Python called Syntax. Some topics may require knowledge of things we haven't covered yet. Don't let this throw you. Below is the essential information you need for now and these topics will be discussed in a later section.

### Data Types 

The essence of most languages is to deal with data. The specific data we can use in Python are called **data types**. The type part of the phrase means that Python has rules on what can and can't be done with a piece of data. 

For example, to add integers (whole numbers) is specific to an integer data type but wouldn't make sense for other data types. Python does not allow you to do this and this constraint is implicitly a part of the data types we can use.

A data type can be either primitive or non-primitive. Primitive data types are the simplest way to represent data in Python. 

Primitive data types
1. Integer
2. Float
3. String 
4. Boolean 
5. None Type

In [6]:
3 # Integer
4.0 # Float
"Hello World" # String
True # boolean
None # None Type

Run the cell below to discover some data and what its type is. Don't worry about what the code means for now.

In [8]:
type(3)

float

In [9]:
type(True)

bool

Try in the cell below to find out the type "Hello World" is


Python also gives us non-primitive data types sometimes called collections. Non-primitive data types allow you to collect and modify data you may want later.

Non-primitive data types
1. Lists 
2. Dictionaries
3. Sets
4. Tuples

In [ ]:
[1,2,3,4,5] # List
{ 'England': 'London', 'Scotland': 'Edinburgh', 'France': 'Paris'} # Dictionary
{'England', 'Scotland','France'}
(1,2,3,4,5) # Tuple

In [11]:
type({ 'England': 'London', 'Scotland': 'Edinburgh', 'France': 'Paris'})

dict

In [10]:
type([1,2,3,4,5])

list

Try for yourself in the cell below to find out what type the value (1,2,3,4,5) is

Don't worry about knowing what these all mean we will cover them in more detail later.

### Literals

A term that comes up with data types is the term 'literal'. A literal is any notation that represents a fixed value in the code. When we talk about data types, a literal describes a value of that data type. 

To demonstrate this, an integer literal is an integer value that is explicit in your code.

In [ ]:
x = 5  # 5 is the integer literal

### Data Structures

Additionally, when talking about specific data types, you will come across the concept of a data structure. **A data structure**  is a way to organise data to allow for tasks to be performed most efficiently

This is slightly different to a data type, in that a data type has a range of values that share all the same properties and focuses on representation of data. Some data structures can have a very specific way to handle data that isn't related to the data type.

A list is an organised collection of data of possibly many different types in an ordered sequence.

In [ ]:
['one', 'two', 3, 4, 5]

The list above is a data type, but also as can be thought of as a data structure, when we want to store data in a specific way like a set of items in a certain order, we can perform operations on this and think about the performance of those operations. Don't worry too much about the semantic differences between data types and data structures too much at this stage, but its useful to have an awareness of the term.

### Operations

In any programming language, there are data types and also ways to manipulate that data. We call these **operations** that we do something to data. To do an operation **operators** which tell Python to perform a specific task on data. 

A simple example of this would be adding two numbers together. Python has an addition operator `+` which tells Python we want to form an addition operation. The code snippet illustrates this.

In [ ]:
3 + 5 # The + is the addition operator that tells python to add two numbers together

In the cell below try add together the numbers 21 and 51 and run the code to see the result.

There are many different types of operators which we will cover in a later section.

### Expressions and return values

An **expression** is a combination of values and operators that Python evaluates.

When we type out an expression in Python, it also displays the result of that expression without you specifically telling it to. We call this the **return value**. 

Run the code snippet below to show what happens.

In [1]:
4 + 5 # expression

9

Expressions don't have to involve operators, any value is an expression that evalutes to itself.

In [2]:
4

4

### Statements

A **statement** is a line of code or multiple lines of code that expresses an action for the computer to perform. Every program consists of a sequence of statements. 

The code snippet below, prints out the integer 5, run the cell to see this. Don't worry about knowing what it does yet, we will cover this later.

In [4]:
print(5)

### Displaying values  

We have seen above that Python automatically returns values when you type out an expression. We can also explicitly print what the result of the expression using a function called `print()`. 

Don't worry about the specifics, an expression inside the parentheses will be evaluated, with the output displayed. 

Below is a code snippet to illustrate this.

In [ ]:
print(3 + 4)


In the cell below, try and print the value of 5 + 10


### Variables

Python like all programming languages has data types, but we need to be able to store this data for later use. Python allows you to do this by creating variables. A **variable** is a container that associated a name with a specified value. A variable is created when we give it a name and give it a value.

In [ ]:
x = 5

In this code snippet, we create the variable `x`, the `=` is called an assignment operator this allows us to associate a relationship between a variable name and a value. We **assign** the integer 5 to the variable `x`.

When we create a variable, we call this a **declaration** or declaring a variable.

In the cell below, define a variable named `y` and give it a value of 11

In [ ]:
x = 5

We will be talking about variables in a later section.

### Syntax

The syntax of Python is a set of rules that define how Python should be written and interpreted when we run a program. Below we will discuss some of the important aspects of the syntax of Python.

### Keywords

In Python, there are words that are reserved that is to say we can't use them as names in our code. We call these **keywords**, they look like normal words but have special meanings. 

In the code snippet below, there are two keywords `if` and `else` that you will be able to see, don't worry about the entire meaning of the code yet. You will learn about these later on, but to illustrate that you can not call a variable name `if` or `else` in python, otherwise, an error will occur.

In [ ]:
x = 5
if (x < 4):
    print(x)
else: 
    print(x + 1)

Try run the cell below and see what the output is.

In [12]:
if = 5

SyntaxError: invalid syntax (2630263448.py, line 1)

#### Indentation

**Indentation** is the space at the beginning of a line of code. In some languages, indentation is for readability only however, in Python, it also defines a block of code that does something (**better phrasing needed**).

In the code snippet below, we can see there's an indentation to delineate that the if code block is separate from other lines of code.

In [ ]:
if (x < 4): 
	y = x + 2
	print(x)

In the first, if block, the print function is called in the indented block, and will only be executed if x is less than four. Consider the difference in the code snippet below.

In [ ]:
if (x < 4):
	y = x + 2
print(x)

In this code snippet, the print function is called regardless of the value of x.

The indentation has meaning in Python and often leads to more readable code. It is up to you how much space you use, just be consistent. Conventionally code blocks like the above should be indented by four spaces.

#### End of Line terminates a statement

In some programming languages, you need to add characters to tell the interpreter you have finished a statement. Python implicitly uses the end of a line to terminate a statement.

In [ ]:
4 + 5 # End of this line means python will compute this line of code

#### Parentheses

In Python you can use round braces or **parentheses** to group data and expressions to make it clear how you want Python to intepret the expression written.

In [5]:
2 * (3 + 4)

10

Run the cell below to see how the above line of code is different to the one below.

In [ ]:
2 * 3 + 4 # This is different to the above

In the code snippet above, on the first line, the integers 3 and 4 are added together and then multiplied by 2. On the second line Python multiplies 2 and 3 together and then add 4. The placing of the parentheses matters.

### Comments 

Python allows you to add comments in the code that serve as documentation to make things clearer to understand. A single-line comment starts with a # and Python will then intepret the rest of the line of code as a comment.

In [ ]:
# This is a comment

Use the cell below to create a comment with the text "I am learning python"

Sometimes you want to be able to write comments in more than one line. To do this you can use tripe quotes """ """. Anything in between those quotes will be interpreted as a comment.

In [ ]:
"""
This is also a comment. 

A multi-line comment where you can type anything you like.

"""

When problem-solving you may want to write down your thoughts near your code, this is where a multi-line comment would be appropriate.

### Summary

Understanding the vocabulary and how to write code is the first step to getting started in Python. Primitive data types are the simplest data we can deal with in Python, non-primitive data types allow us to store those primitive data types easily in specific ways.

Being able to do operations on these data types using operators is what gives Python its ability to take data and transform it into something useful. We will cover more on operators in a later section.

We covered some basic syntax like comments, indentation and parentheses, which defines the way to write code so that Python can intepret our code correctly. For more style information, the most widely used style guide for writing python is [PEP008](https://www.python.org/dev/peps/pep-0008/). As you write more python you will find it more useful to read.

Understanding these concepts will make sure that you are writing Python in a readable way.

### Check your understanding

1. What is a data type? 
2. What is a literal?
3. What is an operation?
4. What is an expression? 
5. What is a statement? 
6. What is the difference between an expression and a statement?
7. Give an example of a comment in Python 
8. Why is indentation important in Python?
9. What is a keyword? 
10. What is a data structure? 
11. How does a data structure differ from a data type?
12. What are the two different data types Python has?
13. Can you name the different data types in Python ?
14. Can you give an example of declaring a variable ?

Now that we've run through some basic building blocks, this will help lay the foundations for the following sections.

## Part 2 Using and Storing Data:

In this section, we will discuss the concept of a variable and data types. These two concepts form the basic concepts of programming. Variables give us the ability to store information in memory to be able to use and manipulate it. 

We will also cover data types in much greater detail so you feel comfortable with the common data types you will encounter in using Python for data science.

### Variables

Think of variables as containers to hold information. Their purpose is to label and store data in memory so the program can use it. Labelling data allows the code to have meaning and the ability to understand the program clearly.

A variable is a named area of a program's memory space where data can be stored. The data we store in a variable can change. 

Consider the following code snippet before running the cell. What do you think the output will be?

In [ ]:
answer = 41
answer = 42
print(answer)

The output is 42. On line one, we declare a variable `answer` and assign it the value of `41`. We set aside a bit of memory to store the value `41` in that area. It also creates a variable named `answer` so that we can access that data.

On line two, we **reassign** the value `42` to the variable named `answer`. Python makes `answer` refer to the new value. We are not changing the value of 41, we're assigning a new value to the answer variable.

Finally, on line three, we are outputting the value. To determine the value that gets outputted, Python retrieves the value stored in the location used by the variable.

#### Naming Variables

Naming variables can become very difficult in large programs, which may sound odd at first glance. A variable name should be exact and concisely describe the data it contains. Using variables like `x` has no meaning when you need to look back at the code because it's easy to forget the meaning behind the variable.

Python does have some restrictions on how we name variables. 

1. A variable must start with a letter or underscore character
2. A variable can't start with a number
3. A variable name can only contain the following characters A-Z,a-z,0-9 and _
4. Variable names are case sensitive
5. Variable can not be keywords

Here are some examples of valid variable names

When creating a variable, always ask, is it descriptive? Is it accurate? Is it understandable?

#### Declaring and Assigning Variabes

A variable declaration is a statement that asks Python to reserve space in memory for that variable with a name. We have seen an example of a variable declaration above.

In [ ]:
firstName = 'Chris'

The `=` is an **assignment operator** which tells Python to give a variable name a value.

Consider the following snippet. What is the output? Try to answer before running the cell.

In [1]:
a = 4
b = a 
print(b)
a = 7

4

You see that b retains the value `4` even though `a` is now 7. The link between `a` and `b` is not that strong. If you change a variable's value, it does not change the value of another with the same value.

It is also possible to assign multiple values to multiple variables at once. Look at the code snippet below. What do you think the values of `x`,`y`, and `z` are? Try to answer before running the snippet.

In [2]:
x,y,z = 3,4,5
print(x,y,z)

3 4 5

Here we are concisely assigning the values 3 to `x`, `4` to `y` and 5 to `z

#### Variable Scope

In programming, scope refers to the access of a variable name. Some variables are available everywhere in the code, whereas writing code in an if statement or inside a function may mean that a variable created is only accessible inside that code block.

We call a variable available everywhere in the code as having **global scope**. Variables that are only available in certain blocks have **local scope**. If a variable is **in scope** we can access the variable everywhere. If you can't access the variable, it means the variable is **out of scope**

Scope is an important concept because variables that have global scope can be modified anywhere in the code. Global scope makes it difficult in a large script to maintain the code if you make changes and to catch errors (called debugging). We have to keep all the code in mind when every variable is in the global scope. 

You can avoid this type of problem by having the ability to restrict the scope. Scope is defined where you have declared the variable.

When Python looks at your code as a whole, it applies a set of rules to your variables to determine whether the variable has a global or local scope. We won't go into the exact details of this procedure here, Python does this in the background.

### Data Types

We covered a brief introduction to the concept of a data type above. Data types have type information attached, that is they have rules in which ways they can be manipulated which we will be exploring in this section together. 

In this section we will cover some additional concepts relating to data types as well as a deep dive into the data types most used in Python.

### Determining the type of data

To understand the different types in Python built-in method called `type()` method. Putting a value inside the parentheses will tell Python to evaluate and return type information on that value.

In [ ]:
type("Hello World")

The output returns `<class 'str'>`. Think of the word class as a synonym for "data type" for now. A class refers to something more specific for later.

#### Type Casting 

Python allows you to convert data from one to another, we call this **Type Casting**. You may have data that you need to be able to convert from one data type to another within your code. Python provides some built-in functions to do this, the common ones are `int()`, `str()` and `float()`. We will explore these in detail in some sections below.

#### Type Coercion 

Consider the following example, what will happen when you run the cell?

In [ ]:
name = 'Aaron'
name + 2

Python raises an error because the string name doesn't know how to add to a number.

Consider the following example of adding an integer to a float point number.

In [3]:
x = 2
y = 5.5
x + y

7.5

Python was able to add these two numbers together. It would be fair to assume that Python automatically converts one into the other. However, Python asks the integer and float point to add themselves with built-in methods. To explain this another way, some data types in Python know how to operate with other data types when using specific operators like the addition operator `+`. 

The concept of automatically converting one type into another is named **type coercion** and is not supported by Python. However, you may come across this concept in other languages like JavaScript.

### Mutability

Before discussing data types in detail, it's important to understand which data types can change and which can't. When you use a data type, will Python be able to modify the data after creation? This is what mutability means.

All data types we are about to discuss are objects. Think of an object as a container that holds information about its type, value and identity. 

We've covered the idea of a value and type elsewhere. Every object's value lives in a specific part of the computer's memory. We call the memory address (think of street address) its identity, which is unique to the object you create.

We can use the built-in id() function to obtain an object identity. 

Lets consider the number `42`

In [4]:
id(42)

1328258483728

In [5]:
id(24)

1328258483152

You can see there's a unique identity for the number `42` and `24`

An immutable object is an object that doesn't allow a change in its value. A mutable object can change its value without changing its identity.

For example, an integer, no matter what you do in Python you can't change the number. It's possible to use operators and methods to return something new, but it's not possible to change the number itself this is stored in a piece of memory.

We will see data types that can and can't be modified once created. When deciding on data types, this fact is crucial to know.

### Integers and floating points

One of the most basic data type in data science are numbers. Python has three number-related data types, called integers, floating-point numbers and complex numbers. We will discuss integers and floating points only in this section.

An **integer** is a number with no decimal places. For example, 9 is an integer, but 9.0 is not. 

Run the cell below to see the output.

In [ ]:
type(9)

A **floating-point number** is a number with a decimal place. `9.0` is a floating point number. 

Run the cell below to see the output.

In [ ]:
type(9.0)

Sometimes the numbers we deal with are very large. You can use **E-notation** to express very large numbers more clearly.

To write in e-notation, type a number followed by the letter e, then another number. 

We multiply the number on the left by 10 raised to the power of the number after the e. So 1e4 is the same as writing 1 x 10^4

You can also use e notation directly in Python.

Run the following cell below.

In [1]:
1e4

10000.0

The other difference between integers and floating points is that floating points have a maximum size. It depends on your system, however, `2e400` is well beyond most machines' capabilities.

In the cell below, enter `2e400` and see what output you get.

In [7]:
2e400

inf

What gets returned is a value `inf`, which stands for infinity. This means you've created a number beyond the maximum float point value. It's unlikely you'll come across this much but useful to know there is a limit.

### Converting between integers and floats

Python has a set of built-in functions that make it easy to convert from one data type to another. We will talk about `int()` and `float()` here

We can pass a value between the parentheses and Python will convert it from integer to float and vice versa.

Let's see an example.

In [8]:
number_of_students = 15
float(number_of_students)

15.0

In the code snippet above, we've declared a variable `number_of_students` and assigned the integer `15` to that variable. In line two we have passed the variable as an argument into the float method. The output is `15.0`

Lets see an example of converting from float to int.

In [9]:
number_of_sessions = 8.5
int(number_of_sessions)

8

Here we pass a value `8.5` into the `int` method. The return value is `8`. Note that Python has rounded down to 8 and not up to 9 here.

There are different operations you can modify numbers in Python, we will cover this in detail later, but for now, it's enough to be aware of the different number-related data types.

In the next section, we'll be covering strings.

#### Strings

A string is a list of characters in a specific sequence. In programming, we need to work with text data like names, messages, or descriptions. Python uses strings to represent such data. 

To create a string, use either single or double quotes on either side of the text, Python does not distinguish.

In [ ]:
"Hello World"

The quotes around a string are called **delimiters**, they tell Python when a string begins and ends.

Run the cell below.

In [12]:
"I said 'Python is cool'"

"I said 'Python is cool'"

Notice how you can still use single quotes inside a string. When Python sees a delimiter it interprets the characters after as a string

Run the below cell.

In [11]:
"I said "Python is not cool""

SyntaxError: invalid syntax (3628337946.py, line 1)

Python throws an error called a `SyntaxError` because it thinks the string ends at the second " and doesn't know what to do with the rest.

It's a good idea to be consistent whether you use single or double quotes to create strings.

#### Determine the length of a string

The number of characters of a string with spaces included is called the **length** of a string. 

For example, the string `"Python"` has a length of 6. 

To determine the length of a string we use a built-in function `len()` 

Run the cell below.

In [ ]:
len("Python")

Now try to find the length of the string "Data Science" in the cell be

Its possible to also determine the length of a string that has been assigned to a variable name

In [13]:
course = "Data Science"
len(course)

12

First, we assign the variable `courses` to the string `Data Science` and pass that string as an argument to the len function. What will be returned?

Now create a variable `new_course` and give it the value "Machine learning" and determine the length of that string.

### Converting between strings and numbers

We explored in the last section methods to convert integers to floats and vice versa. Python also has a built-in method called `str()` that converts many data types to a string.

In [15]:
str(3.0)

'3.0'

In [16]:
str(2)

'2'

Now convert the number 1000 into a string

#### Concatenation

**Concatenation** is a term used describe joining two strings together using the `+` operator

What is the output before running the code? 

Now run the code snippet below to see the output.

In [17]:
string1 = "Data"
string2 = "Science"
course = string1 + string2
course

'DataScience'

You might have seen no space between the two words in the return value. Spaces are also characters in Python.

Run the cell below to see the output.

In [18]:
first_name = "Joe"
last_name = "Bloggs"
full_name = first_name + " " + last_name
full_name

'Joe Bloggs'

In this example, we are concatenating three strings together. 

In the cell below, create a variable that is a string of your name, but also gives you the ability to change the first name and last name easily.

#### Indexing

In a string literal, each character has a numbered position we call an **index**. We can access the position of a string by putting a number between two square brackets immediately after the string

Look at the code snippet below. Can you guess what the output will be?

In [19]:
course = "Data Science"
course[1]

'a'

It might make sense for the index `1` to be the first letter in the string, but counting always starts from zero in Python.

In the next cell, try to access the first letter of the string "Data Science"

What happens if we try to access an index beyond the end of a string?

In [20]:
courses = "Data Science"
courses[14]

IndexError: string index out of range

Python will through an error called `IndexError`. The largest index a string can have is one less than the length of the string. So if the string is "Data" the last index will be 3.

Strings also can have negative indexes

Try to run the cell below and guess what the output will be.

In [21]:
courses = "Data Science"
courses[-1]

'e'

In programming, sometimes you want to access the last character of a string, it's quicker to use -1 instead of having to think about how many characters the word has.

Can you figure out another way to find the final index number of a string?

#### Slicing

Sometimes when dealing with strings, you want to be able to capture only a few characters. We could use indexes for each character to do this, but Python provides another way called slicing with much less typing. 

A portion of a string is called a **substring**. To obtain a substring, we insert a colon between two index numbers inside the square bracket.

Before running the cell below, try to use your knowledge to figure out what it might output.

In [ ]:
courses = "Data Science"
courses[0:4]

In the code snippet above, we want to access the characters from index 0 up to but not including index 4. In this case, it returns the substring `Data`

Another way to slice from the beginning of a string is to omit the first index.

In [23]:
courses = "Data Science"
courses[:4]

'Data'

It's also possible to omit the second index in the slice too.

In [22]:
courses = "Data Science"
courses[5:]

'Science'

What would happen if you omit both indexes in the slice? Run the code snippet below.

In [2]:
courses = "Data Science"
courses[:]

'Data Science'

You can see here the whole string was returned. 

If you try to access an index beyond the string length in a slice Python will not raise an `IndexError` but instead return an empty string.

In [24]:
courses = "Data Science"
courses[13:15]

''


Similarly if you go beyond the string length in a slice it will return up to the number of characters in a string.

In [25]:
courses = "Data Science"
courses[4:15]

' Science'

It's also possible to use negative indexes when it comes to string slices they work the same way as positive ones.

#### Strings are immutable

We discussed the concept of mutability in a previous section but we should explicitly point out that strings are immutable. Once you create a string you can't change it. 

Try creating a string and assigning it to a variable. Then try to change a letter in a string in the cell below.

Notice how it throws an error called a `TypeError` which means that strings do not support modification.

To change a string you must create a new one. For example say we want to change the string `Science` to `Data Sciences`  we can use slicing and concatenation to do that.

In [27]:
word = 'Science'
word = word[:] + 's'
word

'Sciences'

Another way we can manipulate strings is by using string methods that Python has built-in into the language. A method is a special function that we can use on data types. Don't worry about the term function or method, we'll cover this in detail later.

### String interpolation

Sometimes you have some placeholder text in your string that you want be able to change the string depending on other data. We can insert variables into a specific location in a string so we can vary what the eventual string looks like. This is called **string interpolation**. 

There are a few ways you could do this.

1.  Use a print function with variables and strings
2.  Use string concatenation and the print function
3.  Use f-strings (stands for formatted string)

We will discuss using f-strings as its a much clearer way to provide this dynamic way of creating strings.

Run the cell below to see the output.

In [3]:
name = "Joe Bloggs"
course = "Data Science"
time = 1
f"{name} has been learning {course} for {time} weeks"

'Joe Bloggs has been learning Data Science for 1 weeks'


Notice how we start the string with an f and the variable we want to embed starts with curly braces. The variable `time` is assigned the number 1. We did not have to convert the number to a string.

It's also possible to provide expressions in between the curly braces. Run the cell below to see what the output would be.

In [30]:
name = "Joe Bloggs"
course = "Data Science"
time = 1
f"{name} is learning {course} for {time + 2} weeks"

'Joe Bloggs is learning Data Science for 3 weeks'

You can see the expression `time + 2` is automatically evaluated.

### Booleans

Booleans are a way to represent `True` and `False` values. In programming, you often need to know if something is true or false. True and false values provide logic that allows different code to be run (we call this conditional logic).

In [ ]:
True

In [ ]:
False

Below, create a variable and assign the value True to it.

We will cover much more about booleans when we cover operators. For now knowing there are values True and False in Python is enough.

### Lists

A list is a collection of zero or more values that have a specific order. A list is defined by having values between square brackets `[]`. Each value inside a list is called a **list item** or **list element**

Lists allow any data types to be stored. If you need a specific order to access data a list is also the right choice.

Example 

Let's create a list

In [31]:
colors = ['red','yellow','green','blue']
type(colors)

list

List items can be of any data type in Python and like strings, indexing and slicing work with lists the same way.

In [4]:
numbers = [1,2,3,4]
numbers[1]

2

We can access any list item using index notation.

In the cell below try to access the last element in the list.

In [ ]:
numbers = [1,2,3,4,5,6,7,8]

Slicing also works the same as for strings. 

In the cell below, create a list of the first 3 list elements of `numbers`

In [ ]:
numbers = [1,2,3,4,5,6,7,8]

A list is a mutable data type, you can change the list items by assigning new values using index notation.

In [33]:
colors = ['red','yellow','green','blue']
colors[0] = 'brown'
colors

['brown', 'yellow', 'green', 'blue']

In the cell below, change the list element `green` to `purple`.

In [ ]:
colors = ['red','yellow','green','blue']

You can also assign several values with a **slice assignment**.

In [34]:
colors = ['red','yellow','green','blue']
colors[1:3] = ['orange','magenta']
colors

['red', 'orange', 'magenta', 'blue']

In the cell below, change the last two list elements to `black` and `white`

Now we've covered the basics of lists we will explore the dictionaries data type.

### Dictionaries

Dictionaries store a collection of relationships between names and values. Unlike lists, these do not have order. They hold information in pairs of data called **key** and **values**. 

A **key** is a unique name that identifies the value part of the pair. Compare this to a dictionary, the key is the word you look up and the value is the definition of a word.

Each key in this section has been a string, but in Python, there is no rule that says you can't have multiple data types as keys. 

The only restriction to the data type of a key is that it has to be immutable. Consider if the key was mutable what would be the impact? If we could change the keys the relationship between the key and value pair would be lost within the code.   Whereas a dictionary value can be any valid Python data type.

In [35]:

capitals = {
	"Scotland": "Edinburgh",
	"England": "London",
	"France": "Paris"
}
capitals

{'Scotland': 'Edinburgh', 'England': 'London', 'France': 'Paris'}

In the cell below, create an dictionary of 3 systems of the body with a value of a disease in that system. For example a key value pair could be `"cardiac": "Myocardial Infarction"` Assign the dictionary to the name `diseases`. Display the contents of the variable.

### Accessing a dictionary value

To access a dictionary value, we enclose the key inside square brackets at the end of the variable name.

In [36]:
capitals = {
	"Scotland": "Edinburgh",
	"England": "London",
	"France": "Paris"
}

capitals['Scotland']

'Edinburgh'

Accessing items in a list are by indexes, an integer that expresses the order of the items. Dictionary items are accessed by a key which has no defined order and is a label that references the value.

In the code snippet below, access the capital of france.

In [ ]:
capitals = {
	"Scotland": "Edinburgh",
	"England": "London",
	"France": "Paris"
}

### Adding and removing values

Dictionaries like lists are mutable data types, you can add and remove from a dictionary easily.

Use the square bracket notation to add the key and use the assignment operator to assign the value you wish for that key to have.

In [38]:
capitals = {
	"Scotland": "Edinburgh",
	"England": "London",
	"France": "Paris"
}

capitals['Spain'] = "Madrid"
capitals

{'Scotland': 'Edinburgh',
 'England': 'London',
 'France': 'Paris',
 'Spain': 'Madrid'}

Each key can only be assigned one value, if the key has a new value, it will overwrite the old one.

In the code snippet below, add the capital italy to the dictionary and display the result.

In [ ]:
capitals = {
	"Scotland": "Edinburgh",
	"England": "London",
	"France": "Paris"
}

To remove an item, we use the `del` keyword with the key.

In [39]:
capitals = {
	"Scotland": "Edinburgh",
	"England": "London",
	"France": "Paris"
}
del capitals['Scotland']
capitals

{'England': 'London', 'France': 'Paris'}

In the code snippet below, delete the key-value pair `"Scotland":"Edinburgh"`

In [ ]:
capitals = {
	"Scotland": "Edinburgh",
	"England": "London",
	"France": "Paris"
}

### Tuples

A tuple is a fixed-ordered size sequence of values. To create a tuple, we use parentheses to start and end the tuple with numbers separated by a comma. For example, `(1,2,3)` is a tuple containing integers.

Tuples are immutable data types, once a tuple is created you can't modify them.

### Creating a tuple

In [ ]:
number_tuple = (1,2,3)
type(number_tuple)

Tuples unlike strings can contain any type of value, `(1,2.0, 'three')` is valid syntax.

In the cell below, create a tuple of even numbers and assign it a variable name. Display the output.


A tuple that doesn't contain values is called an **empty tuple**

In [ ]:
empty_tuple = ()

### Indexing and Slicing

Tuples can be indexed and sliced like strings and lists.

In the cell below, access the 2nd to last element of the tuple.

In [ ]:
number_tuple = (1,2,3,4,5,6)

In the cell below, slice the tuple of the 2nd to 5th items in the tuple.

### Sets

A set is an unordered mutable collection of unique values. By unique we mean that there are no duplicate elements within a set. It is highly optimised for checking whether a specific element is in a set. 

Sets can be created similarly to lists however, instead of square brackets we use curly brackets. For example, `{1,2,3}`. Any duplicate elements will be removed when creating a set in this way.

Another way we can create a set is by using the `set()` built-in method. Using a set method, any data type that Python can loop over (we call this iterable) we can pass into this method. For this course, lists, tuples and strings are

#### Creating a Set

Run the code snippet below.

In [5]:
courseSet = { 'Data','Science','Course' }
courseSet

{'Course', 'Data', 'Science'}

In [6]:
courseSet = { 'Data','Science','Course' }
courseSet
type(courseSet)

set

Notice how the order of the elements are not the same as the ones that were typed out.

In the cell below, create a set of odd numbers.

We can also create a set using the `set()` function.

In [8]:
courseSet = set(['Data','Science','Course'])
courseSet

{'Course', 'Data', 'Science'}

Run the code snippet below, what is different about the output ?

In [9]:
set('foo')

{'f', 'o'}

Notice how string characters have become elements. This is because the characters of a string can be looped over in Python (we will come to this a bit later). However, the 'o' is a duplicated element. 

Sets can contain only immutable data types in Python.

In [ ]:
s1 = {42, 'foo',3.14159, True}

Run the cell below to see the difference between the code snippet above.

In [10]:
a = [1,2,3]
{a}

TypeError: unhashable type: 'list'

Python will throw an error as a list is a mutable data type.

#### Length of a set

The built-in `len()` function returns the number of elements in a set.

In [11]:
coursesSet = {'Data Science','Machine Learning'}
len(coursesSet)

2

In the code snippet below, find out the length of the set

In [12]:
coursesSet = {'Data Science','Machine Learning', 'Neural Networks','Deep Learning'}

There are a lot of different ways to manipulate or operate on a set, using operators and methods. We will cover these in a later section. For now it's enough to be aware of what a set is and how to create one.

### Part 3a: Introduction to Problem Solving

Coding is a tool to go from idea to execution at its basic level. This requires you solve problems using a few building blocks you will learn in this exercise. In order to solve problems its useful to have a structured approach. 

The structure we will be using is called PEDAC. Which stands from Problem, Example Data Structures, Algorithms and Coding. Don't worry about the terms just yet. 

It might be hard to believe but coding is a by-product of understanding a problem, chunking it down and having a clear approach. You should use plain english to describe what you want to do before you start coding. Writing out those thoughts clarifies your problem and how you're going to write your code. The code comes from having an approach.

Problem

  - Inputs: What inputs do we have ?

  - Outputs: What should the output be ?

  - Rules: What are the rules of the problem ?

  - Constraints/Assumptions: Are there any constraints or assumptions to be made about the problem ?

Example (Sometimes problems are given examples)

- Do you understand the example

- Is there anything to be gleamed about the rules of the problem from the examples

Data Structures

- Are there any structures in the code that will be useful to store data ?

Algorithm

- The plain english steps to getting from inputs to output

Code

We will be providing you with some small problems where you want necessarily need to have a systematic approach but its useful to think in this way. For more difficult problems where the solution isn't obvious having a structure will be invaluable.

I urge you to not press forward with solving coding problems before thinking and writing down your thoughts. Its a hard habit to instill but that will pay off in the long run.

## Part 3 Manipulating Data:

Up until now, we've covered data types and variables in Python. These are crucial concepts to build off of. In the sections below, we will go through operators and methods. We will learn how to use them to modify the data types you have seen above.

With this knowledge, we will have the flexibility to do much more with Python, things not possible until now.

### Operators

We discussed operators briefly in a previous section. They are special symbols in Python that execute a computation. They need values to work on, and we call those values **operands**. Below we'll cover each different type of operator in Python.

#### Arithmetic Operators


Arithmetic operators will execute mathematical tasks, like addition, subtraction, multiplication etc... You can use these in Python like a calculator.

Run the snippet below.

In [1]:
3 + 3

6

The addition operator `+` adds the two operands on either side together. In this case, the value is `6`.

In the code snippet below, add the values 120 to 150. What is the output?

The subtraction operator `-` takes one value away from another.

In [ ]:
120 - 70

In the code snippet below, take 50 away from 120. What is the output?

The multiplication operator `*` multiplies two operands together.

In [2]:
50 * 50

2500

In the code snippet below, multiply the numbers 30 and 20.

The division operator `/` divides the left-hand operand from the right-hand one.

In [3]:
50 / 5

10.0

In the code snippet below, can you divide 100 by 3

The percent operator divides the left-hand operand by the right-hand one but also returns the remainder.

In [ ]:
5 % 2

The floor division operator divides the left hand operand by the right hand one but rounds down to the nearest whole number.

In [ ]:
5 // 2

The exponential  `**` operator performs power calculations.

In [ ]:
10**2

Calculate the 25 squared in the code snippet below.

Now we've covered the operators, we can start to use these with variables. We can store useful numbers and reuse them to do different calculations.

In the code snippet below, using variables calculate the addition of those two integer values.

#### Assignment Operators

We briefly covered the assignment operator when assigning a value to a variable. There are **augmented assignment** operators that use both assignment and arithmetic operators that are worth learning too.

The augmented assignment operator`+=` describes an operation where a variable is a left-hand operand and a value is a right-hand operand. For example, `x += 3` is equivalent to saying `x = x + 3` in Python.

The operator allows you to add a number to an assigned value.

In [5]:
x = 5 
x += 3
x

8

The value of `x` is 8, the augmented assignment operator has added 3 to the value assigned to the variable `x`.

Similarly, `-=` is an operator where the variable is a left-hand operand and a value as a right-hand operand. This subtracts a number from a an assigned value.

In [6]:
x = 10 
x -= 3
x

7

The value of x is `7` in this case we have subtracted 3 from the value assigned to the variable `x`.

There are similar operators for the different arithmetic operators. We won't go into too much detail as the above two are the most commonly used. We will see these operators when we talk about looping.

#### Comparison Operators

Often we need to know whether two values are equal or not, or if values are greater than or less than another. These groups of operators can compare one value to another.

The logic in comparing values is sometimes called **boolean logic** and an expression that evaluates to either true or false is called a boolean or **conditional expression**. 

The types of comparison we make are inequalities and equality. All of these are conditional expressions we use that will resolve to return either a `True` or `False`. 

Some of these comparators should be familiar to you from mathematics.

##### Inequalities

In mathematics, we can express when a value is great or less than another, let's review these. When we use these inequalities, Python will return a `True` or `False` value

```
a > b # Greater than
a < b # Less than
a >= b # Greater than or equal to
a <= b # Less than or equal to
```

In the cell below, use the above operators to determine which expressions are true or false.

In [ ]:
a = 10 
b = 5

##### Equality

To compare values, we use the equality operator `==` in Python. 

Run the snippet below to see this.

In [8]:
a = 5
b = 5

a == b

True

The expression above returns `True` as the values assigned to `a` and `b` are the same. This shows that conditional expressions will evaluate to a `True` or `False` value.

To express whether something is not equal to another we use the inequality operator `!=`.

Run the snippet below to see this.

In [9]:
a = 5 
b = 7

a != b

True


The expression above returns `True` as `a` and `b` are not equal.

#### Logical Operators

In addition to the above comparator operators, Python has some keywords `and`,` or` and `not` to combine conditional expressions to form more complicated logic. Below we will cover these ones by one.

##### And keyword

The `and` keyword combines two conditional expressions together. Python will then evaluate this expression and return `True` only when both conditional expressions are true. If one of the conditional expressions is false, the combined expression will be `False`.

Run the code cell below to explore this.

In [10]:
a = 5
b = 10 
a == 5 and a != b

True

This conditional expression returns `True`, both a is equal to 5 and a does not equal b at the same time.

In [11]:
a = 5
b = 10 
a == 6 and a != b

False

Yet this code snippet returns `False`. a does not equal 6, but a does not equal b. That is to say, one part of the conditional expression is false and the other is true, hence the whole expression returns `false.`

To sum up, the `and` keyword used with statements is only `True` when both are true and `False` if one or the other statements is `False`. When both statements are `False` the expression will also be `False`.

To summarise this another way, run the below snippets.

```
True and True # True
True and False # False
False and True # False
False and False # False
```

#### or keyword

The `or` keyword in Python says that if one or the other expressions are true then the whole expression is `True`. Otherwise, the combined expression is `False`.

Run the code snippet below to get an understanding of the or keyword.

In [12]:
1 < 2 or 3 < 4 # Both are True

True

In [13]:
2 < 1 or 4 < 3 # Both are False

False

In [14]:
1 < 2 or 4 < 3 # Second statement False

True

In [15]:
2 < 1 or 3 < 4 # First statement is False

True

If any part of the compound statement is `True` then the whole expression is false. Any part that is `False` then the whole expression is `False`.

```
True or True # True
True or False # True
False or True # True
False or False # True
```

##### Not keyword

The not keyword reverses a truth value of a single expression. Sometimes we want to check if a value is not something in Python.

Run the code snippets below.

In [16]:
not True

False

This expression returns `False` as we negate the `True` value. This also works for any value in Python that is truthy (more on this later).

In [17]:
not False

True

#### Membership and Identity

##### Membership

Membership operators are used to test if a specific item is within a data type. For example, whether a list item is within a list. The operator `in` and the combination `not in` determine this. Lists, tuples and strings support membership operators.

Run this code snippet to see the use of the `in` operator.

In [18]:
courses = ['Python','Data Science']
'Python' in courses

True

This expression return `True` as `Python` is within the `courses` list.

Run the code snippet below.

In [19]:
courses = ['Python','Data Science']
'Anatomy' not in courses

True

This expression returns `True` as `Anatomy` is not in the `courses` list.

Using the in operator check if `Anatomy` is in the list below

In [ ]:
courses = ['Biochemistry','Physiology',]

##### Identity

In Python, when we create a data type object it gets stored in a part of the computer memory called a memory address. We can compare the values of an object using the equality operator. However, equality is not the same as the identity of an object. To test if an object is the same created object not just the value we can use the `is` and `is not` operators.

Run the snippet below to explore this.

In [29]:
x = ["Python", "Anatomy"]
y = ["JavaScript", "Machine Learning"]
z = x

x is y

False

The expression returns `False`. We create variables `x` and `y`. Each variable is stored in a different part of memory, so the expression returns `False`. 

Run the snippet below.

In [30]:
x = ["Python", "Anatomy"]
y = ["JavaScript", "Machine Learning"]
z = x

x is z

True

This expression returns `True` as `z` and `x` are the same object.

#### Operator Precendance


Consider the example below. Before running the cell, what will Python output? Run the cell to find out.

In [31]:
20 + 4*10

60

There's some ambiguity here if we think about it. Is it `20 + 4` then multiply by 10 or 4 multiplied by ten and adding twenty? The return value is 60, so the latter is true. 

But when we use operators in Python, they are assigned a precedence. Where the highest is performed first and then those results are obtained. The operators that are next in precedence are then performed. Any operator that is equal in precedence is performed in left-to-right order.

Here is a list from highested to lowest.

1. `**`
2. `*`,`/`
3. `+`,`-`
4. `== `,`!=`, `>`,`<`,`>=`,`<=`, `is` and `is not`
5. `not`
6. `and`
7. `or`

The key takeaway is that equality and inequality come before the logical operators and mathematical operations come before equality.

Breaking down the example above, 

4 * 10 takes precedence so gets evaluated to `40` and then we add 20 to 40 to get 60.

We can override operator precedence using parentheses. Expressions in parentheses are always performed first.

Run the snippet of code below.

In [ ]:
(20 + 4) * 10

The return value is 240, as `20 + 4` is evaluted first.

#### Data Type Methods 

Operators are one way to modify data, but Python also provides some functionality specific to each data type, we call these methods. **Methods** are functions that are contained within an object. This is not essential knowledge but perhaps worth saying something about.  It is in the combination of operators and methods we can control what data becomes.

We mentioned before that all data types in Python are objects, think of the methods as being part of those objects.

We haven't covered functions in detail yet, but with built-in methods, some of them require passing some data to the method in order to get the intended outcome.

In order to understand methods we should define some terms. To pass this information to a method, we assign values to a **parameter** of the method. The assigned values are called **arguments**. The act of using a method on a data type is called a **method invocation** or calling a method.

For example, if you want to insert a list item into a list. We need to specify what the list item is and where in the list to put it. 

The list `insert()` method has two required parameters `pos` and `element`. The syntax looks like this `list.insert(pos,elmnt)`. 

So valid syntax for this method might be `list.insert(1,"Data Science")`. The arguments are `1` and `Data Science`. Here we are assigning the parameter `pos` with the value `1` and assigning the parameter `elmnt` with `Data Science`. 

When learning about methods, it's useful to have a structure of  type of information to know about when using these methods.

For each method, we should be able to recall the following:

1. The description
2. The syntax of the method (can we pass any values to the method)
3. The return value of the method
4. Are there any peculiarities about the method (does it return something you don't expect ?)

Don't worry if this takes time, programming is a process, and the act of doing programming clarifies this information more than basic recall.

### List Methods

Python has 11 built-in methods for modifying lists. We will go through the most common list methods. 

##### Inserting a list item

The insert method inserts a specific value at a specified position.It has two required parameters `pos` and `elmnt`.

The syntax is `list.insert(pos,elmnt)`

`pos` - The index of where in the list to add the list item
`elmnt` - The value of the list item to insert

Run the snippet below.

In [35]:
courses = ['Python','Data Science']
courses.insert(2,'Deep Learning')
courses

['Python', 'Data Science', 'Deep Learning']

We are calling the insert method on the `courses` list. Specifying the index `2` with the value of `Deep Learning` to be added. The return value of this method call is an list `['Python','Data Science','Deep Learning']`.

In the snippet below, can you insert `Deep Learning` at the start of the list?

#### Inserting a list item at the end of a list

To add a list item at the end of the list we use the `append()` method. 

The append method has one required parameter `elmnt` which is the argument to add to the list. 

The syntax is `list.append(elmnt)`

Look at the code snippet below.

In [33]:
courses = ['Python','Data Science']
courses.append('Deep Learning')
courses

['Python', 'Data Science', 'Deep Learning']

We call the method on the `courses` list, passing in `Deep Learning` as an argument. The return value of the method call is a list `['Python','Data Science','Deep Learning']`.

Notice the difference between `insert` and `append`. 

In the cell below, add `Machine Learning` to the end of the list and display the output.

In [ ]:
courses = ['Python','Data Science']

#### Merging lists

The `extend()` method can be used to add two lists together. 

The syntax is `list.extend(iterable)`

It has one required parameter `iterable` which takes values of any data type that can be looped over lists, tuples, dictionaries and strings. Note that this means it's not only lists that can be merged together.

Run the code snippet below to see how this works.

In [36]:
courses = ['Python','Data Science']
optional_course = ['Deep learning','JavaScript']
courses.extend(optional_course)
courses

['Python', 'Data Science', 'Deep learning', 'JavaScript']

See the example below, we can merge a tuple to a list using the `extend` method.

In [37]:
courses = ['Python','Data Science']
optional_course = ('Deep learning','JavaScript')
courses.extend(optional_course)
courses

['Python', 'Data Science', 'Deep learning', 'JavaScript']

In the cell below, can you merge the two lists created together ?

In [ ]:
courses = ['Physiology','Anatomy']
digitalCourses = ['Python','JavaScript']

##### Removing a list item

The `remove()` method removes a specific item from a list. It is one required parameter `elmnt` that specifies the list item to be removed. 

The syntax is `list.remove(elmnt)`

Run the code snippet below.

In [ ]:
courses = ['Python','Data Science']
courses.remove('Data Science')
courses

In the code snippet above, we are calling the `remove` method and passing the argument `Data Science`, the return value of this method call is `['Python']`.

#### Removing a list item at a specific position

The `pop()` method removes a list item from a specified index. The pop method has one required parameter `pos`

The syntax is `list.pop(pos)`, where `pos` is the number specified position. The default value is `-1`, i.e `list.pop()` removes the last list item.

In [ ]:
courses = ['Python','Data Science']
course.pop()
courses

In [38]:
courses = ['Python','Data Science', 'Machine Learning' ,'Deep Learning']
courses.pop(2)
courses

['Python', 'Data Science', 'Deep Learning']

We invoke the pop method on the `courses` list, passing in `2` as an argument. This removes the 3rd list item. 

In the cell below, can you remove the 2nd list item from the list ?

In [ ]:
courses = ['Python','Data Science', 'Machine Learning' ,'Deep Learning']

#### Create an empty list

The `clear()` method will remove all list items however the list remains intact.

The syntax is `list.clear()` with no required parameters.

Run the cell below.

In [ ]:
courses = ['Python','Data Science', 'Machine Learning' ,'Deep Learning']
courses.clear()
courses

In the cell below, remove all list items.

### Copying a list

You can copy a list by using the `copy()` method. The return value with be a copied list.

The syntax is `list.copy()` with no required parameters.

In [ ]:
courses = ['Python','Data Science', 'Machine Learning' ,'Deep Learning']
newCourses = courses.copy()
newCourses

In the cell below, copy the list `courses`

In [ ]:
courses = ['Anatomy','Physiology','Pharmacology']

### Returning the index value 

It's sometimes necessary to be able to return the index of a specified value. The `index()` method allows you to do this. There is one required parameter which is the element to search for, this can be a string, number or list. 

The syntax is `list.index(elmnt)`

In [39]:
courses = ['Anatomy','Physiology','Pharmacology']
courses.index('Physiology')
courses

['Anatomy', 'Physiology', 'Pharmacology']

In the cell below, find the index of the string `Data Science`

In [ ]:
courses = ['Python','Data Science', 'Machine Learning' ,'Deep Learning']

### Counting list items 

In a list, it's possible to have duplicates, unlike other data types. The `count()` method returns the number of list items that have a specified value. 

The syntax is `list.count(value)` where `value` is the parameter for any string, list or number that you want to return the count for within the list.

Run the cell below.

In [40]:
courses = ['Python','Data Science', 'Machine Learning' ,'Deep Learning','Data Science']
courses.count('Data Science')

2

In the cell below, find out how many times `Python` is populated within the list

In [41]:
courses = ['Python','Data Science', 'Machine Learning' ,'Deep Learning','Python','Python']

#### Sorting a list

Within Python, we sometimes want to sort a list by a certain order. The `sort() ` method will sort alphanumerically (A to Z or 0 - 9) in ascending order. 

The syntax is `list.sort(reverse=True|false, key=myFunc)` 

The sort method has two optional parameters `reverse` and `key`.

The `reverse` parameter accepts a true or false value which will sort the list in descending order. 

The `myFunc` allows you to pass an optional function that allows you to sort in a more refined way. Don't worry about this too much as we won't be using it.

Note the `sort()` method is case-sensitive, so all capital letters are sorted before lowercase letters. We can use a function to modify how lists get sorted. We won't cover this here.

Run the code snippet below to see the result of the sort method.

In [42]:
courses = ["Python","Data Science","Deep Learning", "Neural Networks"]
courses.sort()
courses

['Data Science', 'Deep Learning', 'Neural Networks', 'Python']

The sort method is invoked on the `courses` list and sorts the array in alphabetical order.

Run the cell below to see the reverse option.

In [43]:
courses = ["Python","Data Science","Deep Learning", "Neural Networks"]
courses.sort(reverse=True)
courses

['Python', 'Neural Networks', 'Deep Learning', 'Data Science']

Notice how the list is sorted in descending order.

In the cell below, sort the list in descending order from Z to A.

In [ ]:
courses = ["Anatomy","Physiology", "Pharmacology", "Clinical Sciences"]

### String Methods

Python has 47 methods for manipulating strings, we won't cover all of these but will focus on the ten or so methods worth committing to memory. It's always possible to look these methods up if you need something else.

#### Converting a list to a string 

The `join()` method takes all list items and joins them together into a single string. It has a required parameter `iterable` which can be any object. The join method returns a string.  

The syntax is `string.join(iterable)`. The string aspect is what separator between the list items we would like to have. An example will help clarify this.

Run the cell below.

In [44]:
courses = ["Python","Data Science","Deep Learning", "Neural Networks"]

" ".join(courses)

'Python Data Science Deep Learning Neural Networks'

We invoke the join method on the `" "` string, this defines what separates the list items when we want to create a string. We pass in the `courses` list as an argument to the join method. The result is `Python Data Science Deep Learning Neural Networks`. 

It's possible to use a custom separator, like for example a comma.

In the cell below, try to convert the list to a string with a comma separated between each list item.


It's also possible to join any iterable, that is a dictionary or a tuple can be converted into a string in the same manner.

#### Spliting a string into smaller strings

Sometimes you need to break a string into smaller parts and want to store these in a list. The `split()` method splits a string into a list of individual strings. It has two optional values, `separator` and `max split`.

The syntax is `string.split(separator, maxsplit)`. 

The `separator` allows to specify how to split the string, so if it's a string of words, you may want to split at the space between words, so each list item is a word in the sentence. The default value for this is `" "`. 

`Maxsplit` is used to specify how many splits to do, the default value is `-1` and when we don't specify this in the method will automatically split the maximum number of times.

Run the snippet below.

In [45]:
coursesText = "Anatomy Physiology Pharmacology"
coursesText.split()

['Anatomy', 'Physiology', 'Pharmacology']

Notice how we haven't provided any arguments and the method splits this string into a list of individual words.

Run the code snippet below which is more explicit.

In [46]:
coursesText = "Anatomy Physiology Pharmacology"
coursesText.split(" ")

['Anatomy', 'Physiology', 'Pharmacology']

We invoke the split method passing in `" "` as argument, the return value is a list of strings which correspond to words in the text. Notice how we specify the seperator as the space. 

You may have instances where its not words in text, but commas, or commas and a space. You can seperate those too.

In the cell below seperate the string into individual words.

In [ ]:

courses = "Anatomy, Physiology, Pharmacology"

Sometimes you care only about splitting the first one or two instances of a string. In the cell below can you try to split the first two words of a string (hint think about maxsplit)

In [51]:
courses = "Anatomy Physiology PharmacologyClinical"
courses.split(" ",2)

['Anatomy', 'Physiology', 'PharmacologyClinical']

#### Replacing a substring with another

The `replace` method allows you to replace characters in a string with another string. This can be very useful when cleaning up messy data. 

The syntax is `string.replace(oldvalue, newvalue, count)`. 

`oldvalue` refers to the string to search for, this is required. 
`newvalue` is the string to replace the old string. 
`count` is an optional parameter to specify how many instances of the old value you want to replace. The default value is all occurrences.

Run the snippet below.

In [52]:
courses = "Anatomy Physiology|Pharmacology|Clinical"
courses.replace("|", " ")

'Anatomy Physiology Pharmacology Clinical'

Invoking the replace method searches for all occurrences of `|` and replaces them with `" "`. 

In the cell below, clean up the string so the string separates each course by a space only.

In [ ]:
courses = "Anatomy*Physiology|Pharmacology|Clinical"

#### Removing whitespaces

When cleaning up data, you may find multiple spaces at the beginning and end of a string. The `strip()` method removes all whitespace from the beginning and end. 

The syntax is `string.strip(characters)`. The `characters` parameter allows you to remove a specific set of characters.

Look at the code snippet below.

In [53]:
courses = "   Python      "
courses.strip()

'Python'

Sometimes you want to either remove space from the left side of a string or the right side of a string. The `lstrip` and `rstrip` methods do this.

In the cell below, remove the white space from the string.

In [54]:
courses = " Deep Learning "

It's also possible to specify which character to remove.

In [55]:
courses = ",,,,,Deep learning,,,,"
courses.strip(",")

'Deep learning'

#### Uppercase strings

The `upper()` method will take a string and convert it to a string of upper-case letters.

The syntax is `course.upper()`. Note that numbers are ignored.

In [56]:
course = "python"
course.upper()

'PYTHON'


In the cell below make the string all uppercase.

In [ ]:
courseText = "Python is a programming language"

#### Lowercase strings

The `lower()` method will take a string and convert it to a string of upper-case letters.

The syntax is `course.lower()`. Note that numbers are ignored.

In [57]:
course = "PYTHON"
course.lower()

'python'

In the cell below make the string all lowercase.

In [ ]:
courseText = "Python Is A programming language"

#### Checking if a string starts with a character

It can be useful to know if a string starts with a prefix of characters. The `startswith` method returns true if a string starts with a specified value.

The syntax is `string.startswith(value,start,end)`. 

Where `value` is the string to search for. 
`Start` and `end` are optional values if you want to specify the position in the string.

Run the code snippet below.

In [58]:
course = "1. Python"
course.startswith("1.")

True

Notice how when we invoke this method, it returns `True`. You might wonder what you'd do with this. Sometimes you create code to handle specific cases, knowing if a string starts with something by a boolean value, means you can address this case. We will look at this when we cover conditional statements.

In the cell below check to see if the string starts with a `" "`.

In [ ]:
course = " Python"

#### Checking if a string ends with a set of characters

Similar to `startswith()`, `endswith()` checks if a string has a suffix of another string. 

The syntax is `string.endswith(value,start,end)`. Where `value` is the required parameters for a value to check. `start` and `end` are optional values to specify which position in the string.

Run the cell below.

In [60]:
courses = "Python Deep Learning."
courses.endswith(".")

True

In the cell below check if the string ends in `.py`

In [61]:
filename = "Python Principles.py"

#### Custom formatting of a string

We looked at string interpolation using the f-strings above. However, sometimes you want to define a template string in one part of the code and use that template string in another. The format method formats specified values and inserts them into a string placeholder defined by `{}`. 

The syntax for the format method `string.format(value1,value2...)`. The `value1` required must be a list or `key=value` list.

Some examples will help clarify this.

In [65]:
txt1 = "My name is {fname}, I'm {age}".format(fname="John", age=36)
txt1

"My name is John, I'm 36"

The placeholders are `fname` and `age`. The format method is using the `key=value` list seperated by a comma, to define what those placeholders should have.

The placeholders can also be identified by names as above, numbered indexes like `{0}` or empty placeholders.

In [67]:
txt2="My name is {0}, I'm {1}".format("John",36)  
txt2

"My name is John, I'm 36"

Here we using a index position `{0}` which corresponds to `John` and `{1}` corresponds to `36`.

In [68]:
txt3 ="My name is {}, I'm {}".format("John",36)
txt3

"My name is John, I'm 36"

Here we're using empty placeholders `{}` the first empty place holder refers to `John` and the second placeholder `{}` refers to `36`

We can use a list of values we want to insert. For example run the snippet below.

In [71]:
BASE_URL ="https://api.stackexchange.com/2.3/questions/{ids}?site={site}"

question_ids = ['1334','1234','1213']
url_for_questions = BASE_URL.format(
	site="stackoverflow", 
	ids=";".join(question_ids))
url_for_questions

'https://api.stackexchange.com/2.3/questions/1334;1234;1213?site=stackoverflow'

The `BASE_URL` string is the templated string with `{ids}` and `{site}` as placeholders. We invoke the format method specifying the `site` placeholder takes a specific value like before. However, we want the ids to be different. `";".join(question_ids)"` takes the list `question_ids` and returns a string seperated by semicolons.

### Counting substrings 

Sometimes we want to count the number of substrings within a string. The `count()` method allows us to do this. It returns the number of times a substring is found. 

The syntax is `string.count(value,start,end)`. `value` is the required parameter to search for in the string. The `start` and `end` parameters are optional numbers to specify where within the string you wish to search for.

In [72]:
courses = "Python, Deep Learning, Data Science, Python2"
courses.count("Python")

2

In the cell below, count the number of times a space is in the string.

In [ ]:
courses = "Anatomy Physiology Pharmacology Clinical Sciences"

#### Removing a prefix

The `removeprefix` method can be used to remove a prefix from a string. 

The syntax is `string.removeprefix(value)` where `value` is the string you wish to remove.

Run the cell below.

In [73]:
course = "1. Anatomy"
course.removeprefix("1. ")

'Anatomy'

In the cell below, remove the first few characters of the string so the first character of the string is `P`.

In [ ]:
course = "## Python"

#### Removing a suffix

Similar to `removeprefix`, `removesuffix` method can be used to remove a suffix from a string. 

The syntax is `string.removesuffix(value)` where `value` is the string you wish to remove.

Run the cell below.

In [74]:
course = "Anatomy ###"
course.removesuffix(" ###")

'Anatomy'

In the cell below, remove the last few characters `***`

In [ ]:
course = "Python ***"

This wraps up the most common string methods in Python. Don't be too disheartened by the number of methods. Most of them you won't need to use and knowing where to look is often more important than memorising. 

Here's the list of the most useful string methods roughly in order.

1.  `join`: Join iterable of strings by a separator
2.  `split`: Split (on whitespace by default) into list of strings
3.  `replace`: Replace all copies of one substring with another
4.  `strip`: Remove whitespace from the beginning and end
5. `upper` changes all lowercase letters to upper case within the string
6. `lower` changes all uppercase letters to uppercase
7.  `startswith` & `endswith`: Check if string starts/ends with 1 or more other strings
8.  `format`: Format the string (consider an f-string before this)
9.  `count`: Count how many times a given substring occurs
10.  `removeprefix` & `removesuffix`: Remove the given prefix/suffix

### Dictionary Methods

Below are some of the common dictionary methods you will come into contact with.

##### Accessing a dictionary value

The `get()` method returns the value of an item with a specified key. 

The syntax is `dictionary.get(keyname,value)` where `keyname` is the keyname of the item you want to return value from. The `value` is an optional parameter of a value you want to return if the key does not exist.

Run the code snippet below.

In [77]:
capitals = {
	'Scotland':'Edinburgh',
	'England':'London',
	'France':'Paris'
}

capitals.get('Scotland')

'Edinburgh'

The get method is invoked on the `capitals` dictionary, with `Scotland` passed as an argument. The return value is `Edinburgh`.

In the cell below, find the value of the `France` key in the dictionary.

#### Return a list of keys in a dictionary

Sometimes you want to know how many keys there are in a dictionary. The `keys` method returns a list of all keys in a dictionary.

The syntax is `dictionary.keys()`, there are no parameters for this method.

In [85]:
capitals = {
	'Scotland':'Edinburgh',
	'England':'London',
	'France':'Paris'
}

capitals.keys()

dict_keys(['Scotland', 'England', 'France'])

In the cell above, we are invoking the key method on the dictionary `capitals` which returns a list of key names.

In the cell below, return a list of all keys in the dictionary.

In [ ]:
capitals = {
	'Course1':'Python',
	'Course2':'Deep Learning',
	'Course3':'Machine Learning'
}

#### Returning values of a dictionary

Like the `key()` method, we can return a list of all values of a dictionary using the `value()` method. 

The syntax is `dictionary.values()`.

In [82]:
capitals = {
	'Course1':'Python',
	'Course2':'Deep Learning',
	'Course3':'Machine Learning'
}
capitals.values()

dict_values(['Python', 'Deep Learning', 'Machine Learning'])

We invoked the `values` method and which returns a list of all values of the dictionary `capitals`.

In the cell below, return a list of all values of the dictionary.

In [ ]:
capitals = {
	'Scotland':'Edinburgh',
	'England':'London',
	'France':'Paris'
}

Sometimes you want to have access to both keys and values in a dictionary. We can use the `item()` method to return a list of tuples.

Run the snippet below to see the items method at work.

In [84]:
capitals = {
	'Scotland':'Edinburgh',
	'England':'London',
	'France':'Paris'
}
capitals.items()

dict_items([('Scotland', 'Edinburgh'), ('England', 'London'), ('France', 'Paris')])

The return is a list of tuples each containing the key and value pair. 

#### Removing Items

There are a couple of ways to remove items from a dictionary. 

The simplest way is to use the `del` keyword with a specific key name.

In [87]:
capitals = {
	'Scotland':'Edinburgh',
	'England':'London',
	'France':'Paris'
}
del capitals['Scotland']
capitals

{'England': 'London', 'France': 'Paris'}

### Tuple Methods

Tuples are unchangable, so we can't change, add or remove items once the tuple has been created. There are a couple of methods we can use on tuples as well as a useful way to extract values from tuples worth knowing about.

### Counting a tuple

The `count()` method on a tuple returns the number of times a specified value occurs. It has one required parameter which is the value to search for within the tuple for the number of items.

The syntax is `tuple.count(elmnt)`

Run the snippet below to see an illustration of this method.

In [89]:
courses = ('Python','Data Science', 'Machine Learning' ,'Deep Learning')
courses.count('Python')

1

In the cell below, count the number of times `Python` appears.

It's also possible to return the index value of a tuple item using the built-in `index()` method. It has one required parameter which is the value you wish to search for the index of.

The syntax is `tuple.index(value)`

In [90]:
courses = ('Python','Data Science', 'Machine Learning' ,'Deep Learning')
courses.index('Machine Learning')

2

In the tuple below, search for which index `Deep Learning` is

In [ ]:
courses = ('Python','Data Science', 'Machine Learning' ,'Deep Learning')

##### Unpack a tuple

When we create a tuple we usually assign values to it. We can also extract values back from a variable in a procedure called **unpacking**.

In [91]:
courses = ('Python','Data Science', 'Machine Learning')

(course1,course2,course3) = courses
print(course1)
print(course2)
print(course3)

Python
Data Science
Machine Learning

You can see from this example that we essentially declare `courses1`, `courses2`, and `course3` to the respective values of the tuple. 

There may be a situation where the number of variables is less than the number of values within the tuple. We can add an asterisk `*` to a variable name and the values will be assigned to the variable as a list.

In [93]:
courses = ('Python','Data Science', 'Machine Learning' ,'Deep Learning')

(courses1, courses2, *newCourses) = courses

print(courses1)
print(courses2)
print(newCourses)

Python
Data Science
['Machine Learning', 'Deep Learning']

In this example, we're declaring `courses1` and `courses2` with the assigned valued `Python` and `Data Science` respectively. The variable `newCourses` is assigned a list with the rest of the values in the tuple.

### Check your understanding

1. What is an operator ? 
2. What is an operand ? 
3. What is an example of the augment assignment operator ? 
4. In which circumstances conditional expressions using the `and` keyword evaluate to true
or false ?
5. In which circumstance conditional expressions using the `or` keyword evaluate to `True` or `False` ?
6. What operator checks if a value is in a list ? 
7. When comparing data types to each other, what is the difference between identity and equality ?
8. What is a method ? 
9. What is a parameter and what is an argument ? 
10. Can you give an example of unpacking a tuple ? 
11. Can you give an example of returning the keys of a dictionary ? 

### Summary

This section has covered a lot of material that will need time to sink in. The building blocks of manipulating different data types and understanding the built-in functions are fundamental to problem solving in Python. Memorising all the different functions and methods is not necessary, with problem solving it wil become easier. We have provided the commonly used ones for you to be able to problem solve easily. 

Take some time with the problems and refer back.

# Part 4: Controlling Data

### Truthiness

In the last section, we covered manipulating data types. In this section, we will cover ways to control what happens to data. We will be covering how to ensure specific code blocks get executed and are able to loop over data structures or run code continuously still conditions are met. These building blocks will enable the use of controlling how data flows through the code. 

Once we can manipulate and control our data, programming becomes about being able to structure your code so that it's more readable and maintainable. We will cover this in the next exercise.

#### Truthiness

We will be covering the ability to do different tasks based on the conditions below. But it's important before doing that to understand the concept of truthiness. 

In Python, we use conditions to run specific parts of code. In order to do this, we use expressions and data types that get evaluated into `True` or `False` value. The question asked is if we had to convert the object to a boolean, what would we get? 

When an expression evaluates to `True` we call it a **truthy** value or we check for **truthiness**. Similarly, when an expression evaluates to `False` we call it a **falsy** value. 

Python conditional logic statements are all about truthiness checking. Python implicitly converts an expression and the result to a boolean. 

#### Empty objects are a falsy

Let's cover some examples. We use the `bool()` function to convert a data type to a `True` or `False` value in these examples.

In [94]:
emptyList = []
bool(emptyList)

False

The `bool` function converts an expression to a truthy or falsy value. Here it returns `False`. This means that empty lists are falsy.

In [ ]:
emptyString = ''
bool(emptyString)

Similarly, the `bool` function returns false. 

For objects that have a length, a non-zero length is considered truthy and lengths equal to zero are falsy.

In [ ]:
bool(0)

Here `bool` returns `False` which means zero is falsy.

By default Python objects are truthy. Any object that has a that has a value of 0 or a length of zero is falsy.

#### Zero is falsy

Truthiness is also about non-zeros. 

Run the snippet below

### Conditional Statements



If you would like to run some code where only certain conditions are met, we need some syntax to deal with this situation. In programming languages, this is a very common scenario. The keyword `if` provides this functionality.

To use an if statement it's necessary to understand some of the operators we have seen in a different section. So make sure you review those.

The syntax for an `if` statement 

`if` expression:
	code

It's important to ident the code below the `if` as this tells Python the code block is within the if statement.

Let's seen an example of how this works. Run the snippet of code below.

In [95]:
a = 33
b = 200
if b > a:
	print("b is greater than a")

b is greater than a

In the code snippet above, we declare and assign the variables `a` and `b` with values `33` and `200` respectively. The `if b > a` evaluates the values of `b` and `a` and in the situation, b is greater than a, the line of code below gets executed. In this case, we output the string `B is greater than a.

#### Using else with if

In the code above, we have only provided one situation to run the code. But what if we have different responses when the condition hasnt been met?

The `else` keyword provides this functionality.

Run the code snippet below.

In [96]:
a = 200
b = 33

if b > a: 
	print("b is greater than a")
else: 
	print("a is greater than b")

a is greater than b

### Checking multiple conditions with elif

What if we need a variety of different conditions to check? We can use the keyword `elif` which stands for else if. 

Let's see an example of this, run the code snippet below.

In [97]:
a = 200
b = 200
if b > a: 
	print("b is greater than a")
elif b == a:
	print("b is equal to a")
else: 
	print("a is greater than b")

b is equal to a

Here `a` is equal to `b`. Python looks at the if statement, and the expression `b > a` is false, if there is a `elif` keyword, Python will evaluate the expression. In this case, the expression `b == a` is true so Python outputs `b is equal to a`.

#### Using conditional operators

It's also possible to combine variables, datatypes and operators to form conditional expressions. `and`, `or` and `not` can be used to provide specific conditions to run code.

Run the snippet below to see the `and` operator in use.

In [ ]:
a = 200
b = 33
c = 500 

if a > b and c > a:
	print("Both conditions are true")

Here we need to satisfy two conditions `a > b` and `c > a` In the case `a` is 200, these two conditions are satisfied and the code prints `Both conditions are true`.

Run the snippet below to see the `or` operator in use.

In [98]:
a = 200
b = 33
c = 500 

if a > b or a > c:
	print("At least one of these conditions is true")

At least one of these conditions is true

In this example, the `or` operator means at least one of these conditions should be true. In the case `a` is 200, a is greater than b but not greater than c. One of the conditions has been satisfied and `At least one of these conditions is true` is output to the screen.

The `not` keyword is used to reverse the result of a conditional.

In [102]:
a =33  
b =200  
if not a > b:  
    print("a is NOT greater than b")

a is NOT greater than b

Here the expression is evaluated as `a > b` in this case that is false, but the expression `not a > b` gets evaluated as True. So `a is NOT greater than b` is output to the screen.

#### Nested if

Sometimes you have several conditions depending on previous conditions to choose from to run different code. We can nest the if statements in this case to provide this functionality. 

Run the code snippet below.

In [103]:
x = 41
if x > 10:
	print("Above 10")
	if x > 20: 
		print("Above 20")
	else: 
		print("But not above 20")

Above 10
Above 20

In the code snippet above, x is `41` so the expression `x > 10` is `True` . The program prints `Above 10` . Python then looks to the inner `if` statement, `x > 20` is true and then prints `Above 20`. We can also add a nested `else` statement, in the case that x was say for example `17`. 

Be careful with using nested if as it can get complicated, think about using different combinations of operators for example `if x > 10 and x < 20` for example.

#### Iterables

Before we discuss the concept of looping, the word iterable has come up a few times in the course without explicitly defining it. An iterable is anything we can iterate over. By iterate we mean can Python move from one thing to another within the data type. For example, looping over a list of items or string characters.

Lists, tuples, strings and sets are all iterables. 

### While Loops

In Python there are two ways that we can move from one item to another, called **looping**, the while and for loop. 

The `while` keyword allows Python to execute a set of statements as long as a condition expression evaluates to true. 

The syntax for a while loop is the following

```
while <condition>:
	statements
```

Python runs through some steps based upon the above.

1.  A `while` loop evaluates the `condition`
2.  If the `condition` evaluates to `True`, the code inside the `while` loop is executed.
3.  `condition` is evaluated again.
4.  This process continues until the condition is `False`.
5.  When `condition` evaluates to `False`, the loop stops.

Lets Run an example.

In [104]:
i = 1
while i < 6:
	print(i)
	i += 1

1
2
3
4
5

Running this code, you can see the numbers 1 to 5 are printed out. Let's break this down slowly. 

The while loop often requires a variable assigned to some value prior to the while looping code. In the case above, we declare `i` and assign the number `1`. 

On the first loop, `i < 6` is evaluated. In this case, `i = 1` and this expression evaluates to true. So we print the number to the screen and then we add 1 to the variable `i` using the augmented operator `+=`. By doing this, on the next evaluation of the expression`i < 6`, `i` is still less than 6 but is now equal to `2`. 

While loops evaluate the expression first, then run the statements within the while block. After that, the expression keeps getting evaluated until it turns false. In this case, the loop will continue printing numbers till i is assigned the value `6` on this loop, and the while loop breaks. 

There are occasions a while loop can go on forever, the expression never becomes false. We call this an **infinite loop**. We can use the `else` statement to run the code block when the condition is no longer true. 

Lets look at this example.

In [105]:
i = 1
while i < 6:
	print(i)
	i += 1
else:
	print("i is no longer 6")

1
2
3
4
5
i is no longer 6

Run the code snippet below. What will happen?

In [106]:
i = 0 
while i < 6:
	i += 1
	if i == 3:
		continue
	print(i)

1
2
4
5
6

The numbers 1 to 6 get printed out in this code snippet. Here the while loop checks for i being less than 6. When i does get assigned 3 we then run the if statement code which says to continue and then run the print statement below.

##### Break

We can also force Python to break a while loop even if the condition is still true. For example, if you want to print a certain amount of numbers. We can force Python to break by using the `break` keyword after a certain number of iterations.

Run the code snippet below.

In [107]:
i = 1 
while i < 6:
	print(i)
	if i == 3:
		break
	i += 1

1
2
3


Here the numbers `1`, `2` and `3` are printed. We assign `1` to the variable `i`. The while loop evaluates `i < 6`, print the numbers and then assigns one above the current value of `i`. In the case that `i` is 3, the integer `3` is printed. Then the if statement will be run and we break the while loop. 

When you don't know how many values or number of items are in a data type use a while loop.

### For loops

In contrast to the while loops, for loops will loop over a data type and run a block of statements a certain number of times.  For example, say you want to print out the numbers 1 to 100 to the output. Or show a message 100 times, we can use a for loop to do this.

We use a for loop when the number of times we want to loop over a data type is known, unlike a while loop when we use this when the number of times we want to loop over is unknown.

We use the keyword `for` and the `in` operator to loop over data types.

The syntax for a for loop is the following.

```
for X in Y:
	statements
```

Y is the data type we wish to loop over like a list, dictionary or tuple. By specifying a variable name X, Python assigns the variable X values of an iterable (eg a list item). We can access all items within a data type and run blocks of code that will use these items. Note that the looping continues till we reach the last item in the iterable.

For loops can be used for any iterable, for example, a list, dictionary or tuple. 

Let's see an example to understand how this works, run the snippet below.

In [108]:
courses = ['Anatomy','Physiology','Pharmacology']
for course in courses:
	print(course)

Anatomy
Physiology
Pharmacology

In this example, we define the list `courses`. The for keyword tells Python we want to loop over `courses`. We use the expression `course in courses` to loop. We essentially declare the variable `course` and use it to assign each list item to it to do the looping. The `in courses` part of the expression is always true when using the `for` keyword. 

On the first loop, the variable `course` is assigned the value `Anatomy` then the statement to print the list item assigned to `course` is executed. In this case printing `Anatomy` string to the output. The for loop looks to the `courses` variable to loop over every list item. 

On the second loop, we assign the variable `course` the value `Physiology` and then use that to print the string `Physiology` to the output.

On the third loop, we assign the variable `course` the value `Pharmacology` and then use that to print the string `Pharmacology` to the output.

Look at the code snippet below and loop over the tuple.

In [109]:
courses = ('Python','Data Science', 'Machine Learning')

Similarly, it's possible to loop over a dictionary too.

Run the snippet below.

In [110]:
courses = {
	'Spring': 'Python',
	'Summer': 'Data Science',
	'Autumn': 'Machine Learning'
}

for course in courses: 
	print(courses[course])

Python
Data Science
Machine Learning

It's also possible to loop over just the keys or values. We can also loop over each key and value at the same time using the dictionary methods described previously.

Run the snippets below to loop over values and keys.

In [111]:
courses = {
	'Spring': 'Python',
	'Summer': 'Data Science',
	'Autumn': 'Machine Learning'
}

for course in courses.values():
	print(course)

Python
Data Science
Machine Learning

In [112]:
courses = {
	'Spring': 'Python',
	'Summer': 'Data Science',
	'Autumn': 'Machine Learning'
}


for course in courses.keys():
	print(course)

Spring
Summer
Autumn

The dictionary `items()` method returns a list of tuples that contain both the key and value pair. We use tuple unpacking to access both the key and value pair in a for loop. 

Run the code snippet below.

In [113]:
for time,course in courses.items():
	print(time,course)

Spring Python
Summer Data Science
Autumn Machine Learning

The code prints out the key and value pairs together in the `courses` dictionary. The line `time,course in courses.items()` is where we use tuple unpacking. For each list item (a tuple), we assign the key to the variable `time` and the value to the variable `courses`. We can then access those within the code block to print them out.

#### Looping over indexes

Sometimes you need to loop over something and use the index of the data type at the same time. First, always ask, do I even need an index whilst I'm looping? If not, just use a for loop and an `in` operator.

With looping, we will see the `range` function used. By passing a number to the `range` function you define a range of values from 0 to up to the number passed but not including that number. For example if you pass the number 3 to the range function, the values 0,1,2 will be available.

In [114]:
range(4)

range(0, 4)

Run the snippet below.

In [115]:
for i in range(4):
	print(i)

0
1
2
3

Python outputs the values 0 to 3. The line `range(4)` specifies the values `0`, `1`, `2`, `3` and `i` get assigned the value 0,1,2,3 on each loop iteration.

We can use the `range` function with data types too. 

Run the code snippet below.

In [116]:
courses = ['Anatomy','Physiology', 'Pharmacology']
for i in range(len(courses)):
	print(i+1, courses[i])

1 Anatomy
2 Physiology
3 Pharmacology

The output of this code is.

```
1 Anatomy
2 Physiology
3 Pharmacology
```

Here we are declaring `i` the variable and using the function `range(len(courses))` to supply the numbers to iterate over. `len(courses)` returns the number of list items, which in this case is 3. `range(3)` returns an object that stores the values 0 up to 3.

So on the first loop, `i` is equal to 0, so i + 1 is 1. `courses[0]` is `Anatomy`. So Python prints out `1 Anatomy`. This is repeated till all list items are iterated over.

Reasoning about `i+1` and `courses[i]` can be difficult to read and maintain. In the next section we will see how we can loop differently.

#### Using Enumerate to Loop with Indexes

Unlike JavaScript or C, Python for loops doesn't have indexes. This is why there are workarounds for this type of functionality. We can use built-in functions to provide this type of functionality.

The built-in function `enumerate`, takes a collection like a list and returns a list of tuples. Each tuple contains a list item and an the index number of the list item.

Run the cell below to see this.

In [126]:
courses = ['Python','Data Science','Anatomy']
for course in enumerate(courses):
	print(course)

(0, 'Python')
(1, 'Data Science')
(2, 'Anatomy')

In this example, we can see how enumerate works. Each iteration of the loop the variable `courses` is assigned to a tuple. Inside that tuple we have the index and the list item of `courses`.

In [ ]:
courses = ['Python','Data Science','Anatomy']
for course in enumerate(courses,start=1):
	print(course[0],course[1])

In this example, we can acces both the index and list items separately using enumerate using index notation on the tuples that enumerate returns.

In the cell below, loop over the tuple and print the list item index and the list item together.

In [ ]:
courses = ('Anatomy','Physiology','Clinical Sciences','Python')

Enumerate also has a parameter `start` to specify the index to start at if you wish to.

In [123]:
courses = ['Python','Data Science','Anatomy']
for course in enumerate(courses,start=1):
	print(course[0],course[1])

1 Python
2 Data Science
3 Anatomy

#### Looping over multiple iterables

Sometimes you want to loop over multiple data types at the same time. Where perhaps two lists are linked together by order of items.

To do this effectively, we can use another built-in function called `zip` .

The `zip` function takes a set of iterables like a list and returns a nested tuple. Each tuple contains the list items at a specific index of each list passed to the zip function.

We can access each list item from two or more lists simultaneously by using the zip function in a for loop and tuple unpacking as we have done before.

Run the code snippet below to see an example of this.

In [129]:
courses = ['Python','Data Science','Machine Learning']
grades = [100,50,40]

for course,grade in zip(courses,grades): 
	print(course, '-', grade)

Python - 100
Data Science - 50
Machine Learning - 40

This returns a list of courses and the grades that correspond to the course. The `zip(courses, grades)` returns a nested tuple. Each inner tuple has the list items from the two lists at a specific index for example `('Python',100)`. 

We can unpack each inner tuple by using `course, grade in zip(courses, grades)` which means for an inner tuple like `('Python',100)`, the variable `course` is assigned `Python` and assigned grade is assigned `100`.

We then print these variables with `-` inbetween using the print function.

#### Nested for loops

Sometimes you need to loop over a nested list. For example, looping over a list that has lists as list items, but still needs to access all values within.

To do this, we use a for loop that corresponds to the looping over the outer list and inside that code block, we have another for loop to loop over the inner list.  

Look at the `courses` variable to understand what we mean. We want to access all values in this nested list. Run the snippet below.

In [131]:
courses = [['Python',[10,20,30]],['Data Science',[23,42,23]],['Machine Learning',[23,42,23]]]

for course in courses:
	print('course -',course[0])
	for grade in course[1]:
		print('grade -',grade)

course - Python
grade - 10
grade - 20
grade - 30
course - Data Science
grade - 23
grade - 42
grade - 23
course - Machine Learning
grade - 23
grade - 42
grade - 23

This code snippet will print for each course all of the grades stored. We have a nested list where each list item is a list eg `['Python',[10,20,30]]` which is the name of the course and a list of grades.

Here we want to access both the course name and all of the course grades together. This is where a nested for loop is useful.

In the outer for loop  `for course in courses` we loop over the outer list `courses`. The variable `course` refers to the inner list item.

On the first iteration, we print `course - Python` as `course[0]` is `Python`.  But we also then have an inner loop too. We specify we want to loop over `course[1]` which is `[10,20,30]` in the first loop. The variable `grade` is assigned to each list item number and we print out `grade - 10` `, grade - 20`, and `grade -30`. 

Once the inner for loop is complete Python will then turn to the next outer list item `['Data Science',[23,42,23]]` and the cycle repeats till all list items are looped over.


In the cell below, print out the course title and all over the grades

In [ ]:
courses = [['Anatomy',[10,20]],['Physiology',[53,20]], ['Biochemistry',[45,25]]]

This is quite a lot to wrap your head around, so don't be alarmed for it takes a while to sink in.

### Check your understanding

1. What is a truthy value ?
2. When is a value falsy ?
3. Can you give an example of an if else statement ?
4. What is an iterable ?
5. When would you use a while loop as opposed to a for loop ?
6. Can you give an example of using a for loop ?
7. Can you give an example of usinga while loop ?
8.  What does the zip function return ?
9. What does the enumerate function return ?
10. How can we loop over indexes without using the range function ?
11. How can we loop over two lists at the same time ? Can you give an example ?
12. Can you give an example of a nested for loop ?

### Summary

In this exercise, we have covered the basics of controlling what happens to data. We have defined truthiness and how Python evaluates expressions. We can create conditional logic to run specific code based on different situations. 

Looping in programming allows us to access items from a list or a tuple. The for loop allows us to loop over the data type when we know how many items are in the collection. The while loop allows us to loop based on a condition being satisfied. We don't need to know how many items are in a collection to access them.

Armed with this knowledge we can now manipulate and control what happens to data throughout a piece of code.

## Part 5: Structuring Code

Till now, we have created a few simple lines of code to do tasks. But once we know the basics knowing and recalling syntax takes a back seat to think about how to structure your code so it's readable. You can imagine that a file with hundreds of lines of code would be hard to read and think about. 

Python gives us techniques to make our code more readable and maintainable. We can write a file of hundreds of lines of code easily. But this becomes unreadable as we need to keep many lines of code in our minds. 

Also, when something doesn't work or a change is needed this becomes an increasingly complicated task. We should strive to make code that runs correctly and is easy to change in the future.

Functions and modules allow us to segment code, give them names and structure the code into small pieces that can be easily read and reasoned. Using functions and modules, we can make it more maintainable when we need to debug or change the code.

### Functions



We have talked about functions up and until now in an indirect way. A function is a way to define a specific block of code that can be called and executed at a later time. 

This aspect of being able to contain several lines of code in one block is a powerful concept in structuring your code. 

#### Calling a function

Before we create our own functions, we should discuss the term **calling**. We've been using functions throughout Python Principles. Calling a function means we want to execute the code within the function at a time that makes sense within the program. 

An object that can be called is **callable**, and in this case, functions are callable.

If you have a name that represents a function, you can call that object by putting open and closed parentheses around it. For example `print()` is a callable object with the name `print`.

Run the snippet below, we've seen the example before. Notice how we need to supply it with the `number` variable.

In [133]:
numbers = [1,2,3,4,5,6]
print(numbers)

[1, 2, 3, 4, 5, 6]

We print the list as defined in the line 1 here. Notice how we use the open and closed brackets to call the function and pass `numbers` in between the brackets. In the next section, we will explain this.

#### Parameters and Arguments

An argument is an input to a function. We put the arguments inside the parentheses of a function to make them available to the function when we call it.

The **parameter** is the variable name we see in between the parentheses of a function call and the arguments are the values assigned to the parameter.

There are two types of arguments, positional and keyword arguments. A positional argument means the position of when the argument is specified matters.

In [134]:
print(1,2,3,4)

1 2 3 4

The positional argument `1,2,3,4` matters where they're ordered. If we change the argument order, the output will be different.

Keyword arguments are called named arguments, a name is declared and specified as a value. They're more descriptive than positional arguments.

The `print()` function also has a keyword argument called `sep` which is used to separate the positional arguments with a specific character.

Run the code snippet below.

In [135]:

print(1,2,3,sep=", ")

1, 2, 3

The keyword argument's order does not matter, unlike positional arguments.

The only constraint keywords have is that they should come after any positional argument. 

Run the code snippet below to see the difference

In [138]:
print(sep=",", 1,2,3)

SyntaxError: positional argument follows keyword argument (3295410581.py, line 1)

#### Return Values

The output of a function is the return value of a function. 

Run the example below. Here we're using the sum function which returns the sum of a numbers for a given data type passed to it.

In [139]:
numbers = [1,2,3,4,5,6]
sum(numbers)

21

The `number` list is the argument and the return value is the sum of those numbers. When you run this snippet, you may think that Python printed the values, however, it actually returned the number. 

The difference between output and return is that we could store the value returned from a function inside a variable by assigning the function call to it.

Run the example below.

In [140]:
number = [1,2,3,4,5,6]
total = sum(numbers)
total

21

#### Default return value

Not all functions have return values, for example the print function doesn't.

Run the code snippet below.

In [142]:
name = print('Aaron')
print(name)

Aaron
None

Notice how the name has been assigned `None`. 

`None` is a special value that says the function doesn't have a return value. In Python, we assume functions will perform an action or return something, but not both. The print function performs an action but does not return a value. Whereas the `sum` function returns a value.

#### Defining a function

Let's create a function that prints out a greeting. The `def` keyword is used to define a function. It requires a variable name and a set of open and closed parentheses.

The syntax of a function is the following:

```
def <function_name>(): 
	statements
```

Lets see an example of a function.

In [143]:
def greeting():
	print('Hello World')

greeting()

Hello World

In the code snippet above, we define the function `greeting`. On the second line, we indent and call the print function to print the string `Hello World`. Lastly, we call the function `greeting`.

What happens if you try to pass an argument into the `greeting` function?

In the cell below, pass an argument into the greeting function and run the cell

Note we get an error because we don't define any parameters to pass arguments to within the function definition.

#### Functions accepting arguments

For arguments to be passed to a function we need to define the parameter in our function. We do this by naming it between parentheses.

See below the example and run the code snippet.

In [144]:
def greeting(name):
	print("Hello", name)

greeting("Aaron")

Hello Aaron

We have defined the greeting function with a parameter, and we print a string out depending on what is passed as an argument. In this case, we pass the string `Aaron` as the argument which is assigned to the `name` parameter. The string `Hello Aaron` is printed to the output.

#### Default argument values

Note that if we define a parameter in a function, and don't pass an argument python will throw an error.

Consider the code snippet above

In [145]:
def greeting(name):
	print("Hello", name)

greeting()

TypeError: greeting() missing 1 required positional argument: 'name'

Python throws an error requiring an argument to be given. 

We can make arguments optional by providing a default value. To do so we use the equals sign after the parameter

In [146]:
def greeting(name="world"):
	print("Hello",name)
greeting()

Hello world

Note just because we've defined a default value, doesn't mean we can't specify an argument.

Run the code snippet below to see this in action.

In [147]:

def greeting(name="World"):
	print("Hello", name)

greeting("Aaron")

Hello Aaron

Notice how the string `Hello Aaron` still gets printed.

#### Returning values

We have discussed the inputs that functions can have which can be used to do actions. Functions can also return a value after some work has been done. 

To do this in Python, we use the `return` keyword. 

Let's see an example of how this could work. Run the snippet below.

In [148]:
def product(numbers):
	total = sum(numbers)
	return total

sumNum = product([1,2,3])
sumNum

6

The value 6 gets returned. We define a function `product` and pass in a list of numbers. Within the function, we declare the `total` variable. The sum built-in function has the numbers list passed as an argument. The return value of the sum function is assigned to the `total` variable. We use the `return` statement to return the total. The variable `sumNum` is declared and assigned the return value of the `product` function.

The key to creating a good function is only doing one task. For example, adding two numbers together. A good practice to get into is to comment on what a function should be doing when you write your functions. If you find it hard to reason what the function is doing, it probably means it should be split into more functions till it does one task.

#### Accepting any number of arguments

In Python, sometimes you won't know how many arguments you need to accept. For example, a function that accepts a set of data as input but you don't know how much data you'll have to work with.

You could keep adding parameters to the function to accept these arguments or create a list of the data. But adding this extra data structure is perhaps not something you want in your function.

When a * precedes the parameters of a function, Python will accept any number of positional arguments as input. Any arguments given are packed into a tuple that the function can refer to. This is called **argument tuple unpacking**. 

Run the snippet below.

In [149]:
def f(*args):
	print(args)
	print(type(args), len(args))

f(1,2,3)

(1, 2, 3)
<class 'tuple'> 3

The output of this function is a tuple `(1,2,3)` and some information about the argument (the type and the length). It identifies that when a star precedes a parameter name, it creates a tuple of arguments `1`,`2`,`3` and assigns this to the parameter `args`. We output the length of `args` corresponding to the number of arguments given to the function

For example lets create a function that accepts any names and we want to print them all.

In [151]:
def greet(*names):
	for name in names:
		print(name)

greet('Aaron','Chris') 
print('---')
greet('Aaron','Chris','Steve','Alex')

Aaron
Chris
---
Aaron
Chris
Steve
Alex

In the code snippet above, we output the names `Aaron` and `Chris` from the first function invocation. `*names` signifies we want to capture all positional arguments. This creates a tuple `names` that we can loop through and then print the arguments one at a time.

In the second invocation, we supplied more arguments. We can supply any number of arguments, or not know how many arguments will be passed to the function and still be able to use it within the function code.

#### Keyword-only function arguments

In the previous section, we discussed how to accept an unlimited number of arguments. But what happens if you define parameters and arguments after argument tuple unpacking?

Let's run the snippet of code below to understand this better.

In [152]:
def greet(*names, greeting):
	for name in names:
		print(name, greeting)
greet('Aaron','Hello')

TypeError: greet() missing 1 required keyword-only argument: 'greeting'

Python throws an error here because we've created a parameter `greeting` after `*names` and in Python any parameter specified after `*names` has to be a keyword argument.

In [154]:
def greet(*names, greeting="Hello"):
	for name in names:
		print(name, greeting)
greet('Aaron')
greet('Aaron',greeting="Hi")

Aaron Hello
Aaron Hi

In the first function invocation the output prints `Aaron Hello`. This is because the default argument is `Hello`. In the second invocation, we specify the keyword argument `Hi` instead so Python prints out `Aaron Hi` instead.

#### Accepting arbitary key word arguments

In Python, you may not know how many keyword arguments that need to be passed to a function. We can use the `**` operator to accept any number of keyword arguments in a function.

We put a ** and a parameter name to tell Python that it should accept a number of keyword arguments and store them as a dictionary of keys that correspond to the parameter name and the values as the arguments.

Let's run an example.

In [155]:
saying = {
	
}

def sayingNames(name, **saying):
	print(name)
	for name, count in saying.items():
		print(name,count)

sayingNames('Aaron',)

Aaron

#### Built in functions 

We've come across many of the commest built-in functions before. Python has over 71 built-in functions with only 44 technically being functions.

We've covered most of the common functions. In this section, we'll cover a couple more that get overlooked. It is better to cover the functions commonly used slowly rather than learn them all, there are many you may never use.

##### sum

The sum function takes an iterable of numbers and returns the sum of those numbers

For example, run the snippet below.

In [156]:
courseNumbers = [10,5,2,5,1]
sum(courseNumbers)

23

In the cell below, create a list of numbers and find the total.

##### min and max

The min and max return the minimum and maximum values of an iterable. `max` and `min` require the argument passed to it is an orderable data type like a list.

For example, run the snippets below.

In [158]:
numbers = [2, 1, 3, 4, 7, 11, 18]
min(numbers)

1

In [157]:

numbers = [2, 1, 3, 4, 7, 11, 18]
max(numbers)

18

In the cell below, create a list of numbers and find the maxium and minimum values.

##### sorted

The sorted function takes any iterable and returns a new list of all values in sorted order. 

The sorted function accepts two arguments, the iterable and reverse options. The difference between the `list.sort` method and `sorted` is that `sorted` can work on other data types.

In [159]:
numbers = [1,8,2,13,5,3,1]
sorted(numbers, reverse=True)

[13, 8, 5, 3, 2, 1, 1]

### Modules

Modules are a tool we use to break up the code into multiple files in Python. When you create a file in Python you are making a Python module. 

These reasons for using modules in larger applications are:

1. Reusability - Functions defined in one module can be used elsewhere
2. Maintability - Splitting code into a module enforces a boundary between problems that the code solve. 
3. Readability - Having small modules of code is much easier to understand and change

Additionally using code that others have created to solve problems is a large part of programming which you will gain experience in this course. 

To use code from different files you can import modules and the code within them. Its also possible to import modules from Python (like packages for randomising numbers) or a third-party package (NumPy or Pandas). 

A Python file that's meant to be imported by other Python files is called a **module**.

#### Importing a whole module

Python has a load of different modules called the [Python standard library](https://docs.python.org/3/library/)
Let's import the `Math` module from the standard library.

To import any module whether that is your own code or someone else's code we use the `import` keyword.

Run the snippet of code below.

In [166]:
import math
print(math)

<module 'math' (built-in)>

This snippet prints out text that describes the module. We call this a **module object** and this object has attributes that we can use specific functions or constants.

To specify an attribute we use a dot and the function name afterwards. Run the code snippet below to see the result.

In [167]:
import math
math.pi

3.141592653589793

Here we import the math module. We access the attribute `pi` on the `math` module object. This returns the constant `pi`.

The math library has a load of functions that we can use that don't come as part of a specific data type. For example, taking the square root of a number. 

Run the snippet below to see to use functions within a module object.

In [168]:
import math
math.sqrt(25)

5.0

This outputs `5.0`, we import the math module and then use the dot notation to access the `sqrt` function. We pass the argument `25` and `sqrt` functions return the result specified.

#### Module Search Path

When Python executes an import statement it searches for the file. Lets take the example above.

In [169]:
import math

In the this example Python searches  `math.py` in three places

1. In `sys.modules`  - a builtin cache of all modules currently imported
2. Built-in modules that are already installed with Python
3. The folders that are set within `sys.path` (installation dependant folders) which will have the current directory where Python is currently running from.

When Python finds a module, it binds the name of the module to the local scope of the file. This means in the example above `math` is now defined in the file without throwing an error.

If a module is not found, python will throw an `ModuleNotFoundError`.

To make you're files available to others, have the file within the same place python is being run from (You wont need to worry about this much in Jupyter Notebooks).


#### Importing specific module elements

For importing functions above you'll have to add `math.` to everything in the code which creates a lot of duplication. We can import specific attributes using the `from` keyword to remove the need to keep typing `math.` for example in our code.

In [170]:
from math import sqrt
sqrt(25)

5.0

The `from` keyword tells Python we want to import something specific from a module. We can then specify what module from we want after the `from` keyword.

We use the `import` keyword after we specify which module we want to import from to specify the specific function

The return value is the same, but now we have access to `sqrt` directly.

To import multiple things from a module, we can use the comma to do so.

In [171]:
from math import sqrt, pi
sqrt(pi**2)

3.141592653589793

Here we return the value of `pi` , but we specified the `pi` attribute and the function `sqrt`.

#### Importing a module under a different name

We can import a module under a different name when sometimes the module name is quite large and we don't want to keep repeating ourselves. 

When we import a whole module, we can use the `as` keyword afterwards and specify a name to change the module name to.

In [172]:
import math as m
m.pi

3.141592653589793

The return value is `pi` however using the `as` keyword we have shortened the module name `math` to `m`.

#### Import your own modules

We mentioned above you can import modules from other people's code. But the other important aspect of modules is that you can import code you create yourself. 

If you have two files called `numbers.py` and `mathutils.py` in the same directory. and we want to import the `mathutil` module into `numbers.py`  We can simply use the import keyword and specify `mathutil`.

```
# Numbers.py
import mathutil
```

#### Styles of Imports

Within PEP8 the style guide for Python it comes with some pointers on how to group your imports.

1. Imports should be at the top of the file
2. Imports should be seperate into three different groups
	1. Standard Library imports (built-in modules)
	2. Third party imports (modules installed but do not belong to your code)
	3. Local application imports
3. Each group of imports should be seperated by a single line

```
# Standard Library imports
import os
import json

# Third party Imports
from flask import flask

# Application Imports
from local_module import local_function
```

### Check your understanding

1. What is a parameter ? 
2. What is an argument ?
3. Can you give an example of a function call ?
4. What is a module ?
5. What is the difference between a keyword argument and a positional argument ?

### Summary

In this exercise we should have a better understanding on how to use functions and modules to try and make code more readable and maintable. Its important to make sure your functions are small and do one task. Providing a definition comment of a function will help you think about whether the function is doing many things. 

Modules and Packages are used in applications that grow to longer than a few files of code. They help keep it maintable, readable and reusable. 

When you're writing your code think about the one task the lines of code you're writing is doing. Can we put this into a function ? It's better to have 5 small functions than one long function.

Consider creating modules when your file is getting larger and harder to reason about the code with lots of functions. Typically speaking a module should have functions that are related together so consider this when you're reading your code. 

When you start learning to code, you wont necessarily think in terms of functions and modules and thats okay. As long as you look at your code and start to in small pieces create functions and make sure your code still works. This is a good first step. Always change your code in small steps and rerun it.

## Part 6: Application

## Next steps

Fill out the form below and we'll provide feedback on your code.

**Any feedback on the exercise? Any questions? Want feedback on your code? Please fill out the form [here](https://docs.google.com/forms/d/e/1FAIpQLSdoOjVom8YKf11LxJ_bWN40afFMsWcoJ-xOrKhMbfBzgxTS9A/viewform).**